@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
*{
    background-color: #1B5DAC;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.principal{
    display: block;
    margin-left: 200px;
    height: 200px;
    width: 900px;
}
fieldset{
    display: block;
    height: 600px;   
    width: 900px;
    margin: auto;
    border-radius: 10px;
    border-color: crimson;
}